<html>
 <head>
   <title>{{ body_name }} {{ district }} Candidate Positions</title>
   <meta charset="UTF-8">
   <meta name="description" content="Simply your decision this election by comparing and contrasting {{ candidates[0].name }} and {{ candidates[1].name }} without any political spin. ">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127428624-1"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-127428624-1');
   </script>

   <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
   <script 
      src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js">
   </script>

   <script src="/static/candidate_comparison.js"></script>

   <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">
   <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
   <link rel="stylesheet" href="/static/anbay.css">
 </head>
 <body>
   <div class="ui fluid menu">
     <div class="item">
       <img class="ui logo" src="/static/logo.png" />
     </div>
   </div>
   <div class="ui center aligned container race_header">
     <p>
       <h1>
         {{ body_name }}<br>
         {{ district }}
       </h1>
     </p>
     <p>
       <img class="flag" src="/static/California.png" height="150px" />
     </p>
     <p>  </p>
   </div>

   <div class="ui container">
     <div class="ui borderless centered divided padded grid candidates">
       {% for candidate in candidates %}
       <div class="column seven wide">
         <div class="ui center aligned container">
           <h2><a href='{{ candidate.url }}' class="candidate-text">{{ candidate.name }}</a></h2>
         </div>
       </div>
       {% endfor %} 
     </div>

     <div class="ui fluid accordion">
       {% for category in categories %}
       <div class="title {% if category == 'Priorities' %} active {% endif %}" id = "{{ category }}">
         <h3>
           <i class="dropdown icon"></i>
           {{ category }}
         </h3>
       </div>
       <div class="content  {% if category == 'Priorities' %} active {% endif %}">
         <div class="ui borderless centered divided padded grid">
           {% for candidate in candidates|map(attribute='name') %}
           <div class="column seven wide">
             <div class="positions ui left aligned container">
               {% for position in positions|
               selectattr('candidate', 'equalto', candidate)|
               selectattr('category', 'equalto', category) %}
               {% if category == 'Priorities' %}
               <button class="priorities">
                 <a class="priority" href="{{ position.url }}">
                   {{ position.val }}
                 </a>
               </button>
               {% else %}
               <p class="right aligned">
                 <a class = "position" href="{{ position.url }}">
                   {{ position.val }}
                 </a>
               </p>
               {% endif %}
               {% else %}
               <p class="right aligned">The candidate has no stated position.</p>
               {% endfor %}
             </div>
           </div>
           {% endfor %}
         </div>
       </div>
       {% endfor %}
     </div>
   </div>
 </body>
</html>
